.tokenizer-tkn {
    display: inline-block;
    white-space: pre;
    font-family: var(--bs-font-monospace);
    font-size: 0.875em;
}

.tokenizer-tkn-0 {
    background: rgba(107, 64, 216, .3)
}

.tokenizer-tkn-1 {
    background: rgba(104, 222, 122, .4)
}

.tokenizer-tkn-2 {
    background: rgba(244, 172, 54, .4)
}

.tokenizer-tkn-3 {
    background: rgba(239, 65, 70, .4)
}

.tokenizer-tkn-4 {
    background: rgba(39, 181, 234, .4)
}

.hanging-indent {
    padding-left: 22px;
    text-indent: -22px;
}

.margin-0 p:not(:last-child) {
    margin-bottom: 0;
}

code {
    color: #003B4F;
}

.center {
    text-align: center;
}